/* <link rel="stylesheet" href="css/sm-screens.css" media="(max-width: 600px)">
<link rel="stylesheet" href="css/md-screens.css" media="(min-width: 601px) and (max-width: 1024px)">
<link rel="stylesheet" href="css/lg-screens.css" media="(min-width: 1025px)"> */
@media screen and (min-width: 1081px){


    .container{
        position: relative;
        overflow: hidden;
        margin: auto;

        max-width: 1920px;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .content-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    section{
        width: 100%;
        /* padding: 0px 50px; */

    }

    /* hamburger menu */
    #hamburger-menu,
    #close-hamburger-menu{
        display: none;
        z-index: 10;
    }

    /* nav section */
    nav {
        position: fixed;
        top: 0;
        height: 60px;
        width: 100vw;
        z-index: 10;

        display: flex;
        align-items: center; 
        justify-content: center;     
        
        border-bottom: 1px solid var(--white);
        box-shadow: 0px 5px 20px black;


       & .content-container{
            width: 100%;
            max-width: 1920px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        & .content-container a {
            display: flex;
            align-items: center;
            padding: 10px;
        }
        
        & ul{
            margin-right: 50px;

            display: flex;
            flex-direction: row;        
            align-items: center;
            justify-content: end;
        }
        
        
        & #home{
            margin-left: 50px;
        }

        & a{
            display: inline-block;
            padding: 10px 15px;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            transition: border-color 0.3s ease-in;  
        }

        & a.active{
            color: var(--retro-red);
            font-weight:bold;
            
        }

        



    }


    /* hero action */
    #hero{
        width: 100vw;
        max-width: 1920px;
        height: 80vh;

        background-image: url("/images/heroimg.jpg");
        background-size: cover;
        background-color: rgba(20, 13, 49, 0.603);
        background-blend-mode: multiply;
        background-repeat: no-repeat;

        & button{
            padding: 10px;
            width: 250px;
        }

        & .content-container{  
            top:150px;
            width:fit-content;

            height: fit-content;
            position: relative;         

            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
        }

        & .content{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;

           & p{
                font-size: 1.5rem;
            }
        }

        & .content h1{
            font-size: 50pt;
        }
    }


    /* about */
    #about{
        display: none;
    }

    
    /* services / products*/

    #products, #services{

        & button{
           padding: 10px 15px;
           
        }

        & .content-wrapper, .content-container, .content{
            width: 100%;
        }

        & .content-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 40px;
        }

        & .content{
            height: 500px;
            width: clamp(350px, 80%, 400px);
            background-color: var(--white);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 40px;
        }

        & .img-wrapper{
            height: 250px;
            width: 100%;
            background-color: var(--lightgrey);
   
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & .card{
            width: 75%;

            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: center;
        }

        & img{
            width: 50%;
            height: 200px;
            justify-self: start;
        }


    } 

    /* brands */
    #brands{
        .content-wrapper{
            width: 100%;
        }
        
        .content-container{
            width: 100%;
            padding: 0 100px;
            display: flex;
            flex-direction: row;
        }

        & .content{
            width: 100%;
    
            display: flex;
            flex-direction: row;
            gap: 40px;
            align-items: center;
            justify-content: space-between;
        }

        & img{
            min-width: 150px;
            max-width: 250px;
            object-fit: contain;            
        }
    }


    /* location */
    #location{
        & .content-wrapper{
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        & .content-container{
            width: 100%;
            min-height: 350px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 15px;

    
        }

        & .content{
            text-align: left;
            width: 30%;
            font-size: 1.5rem;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }


        #map{
            width: 50%;
            height: clamp(300px, 500px, 700px)
        }
    }


    /* reviews */
    #reviews{        
        & .content-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            align-items: start;
        }

        & .content{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: clamp(300px, 500px, 30%);
            min-height: 300px;
            gap: 15px;
            font-size: 1.5rem;        
        }
    }

    /* footer section */
    footer{
        position: relative;
        bottom:0;
        height: 50px;
        width: 100vw;
        color: var(--light);
        margin-top: 200px;
        


        & div{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 40px;
            font-size: small;
            text-align: center;
            
        }
    }
    



    /* services nav */
       .services-nav{
        background-color: rgb(0, 0, 0);

        display: flex;
        height: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;

        & ul{
            width: 100%;
            max-width: 580px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            padding: 0 40px;
        }
               
        & a.active {
            border-bottom: 2px solid red;     
            padding-bottom: 5px;;
        }

    }

    /* services */
    #audio,
    #security,
    #video,
    #window{        
        & h2{
            margin: 0;
            padding: 0;
            height: fit-content;
            text-align: left;
        }

        & button{
            border-radius: 5px;
            width: 5rem;
            padding: 2px 0;
        }

        & .content-wrapper{
            width: 100%;
            height: 500px;
            /* background-color: grey; */
            display: flex;
            align-items: center;
            background-color: var(--white);
            justify-content: center;
            border: 2px solid grey;
        }


        & .content-container{
            width: 80%;

            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: start;
            justify-content: space-around;

        }

        & .content{
            width: 40%;    
            /* background-color: red; */
            display: flex;
            flex-direction: column;
            gap:20px;
            align-items: start;
            justify-content: start;
            text-align: left;
      
        }

        & ul{
            width: 100%;
            display: flex;
            flex-direction:column;
            justify-content: start;
            gap: 10px;
            text-decoration: none;
            list-style: none;
        }


        & ul li{
            font-size: small;
            font-weight: 500;
            color: black;
        }

        & img{
            width: 60%;
            max-width: 600px;
            height: 300px;
            object-fit: cover;
            border: 1px solid black;
            box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.616);
        }
    }
} 